@media screen and (min-width: 768px) {
    .list {
      flex-direction: row;
    }
  }

@media screen and (min-width: 768px) {
    .list2 {
      flex-direction: row;
    }
  }

@media screen and (min-width: 768px) {
    .list3 {
      flex-direction: row;
    }
  }

@media screen and (min-width: 699px) {
    .card2{
        flex-direction: column;
    }
  }

@media screen and (min-width: 699px) {
    .card4{
        flex-direction: row;
    }
  }

  