.body_index {
    background-color: $secondColor;
    list-style: none;
    font-size: 35px;
    font-weight: 300;
    font-family: "DM Serif Display", serif;
    text-align: center;
    a {
        text-decoration: none;
        color: black;
        background-color: $firstColor;
      }
      h1 {
        background-color: #8E6C88;
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-size: 35px;
        font-weight: 300px;
      }
      h2 {
        background-color: #8E6C88;
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-size: 35px;
        font-weight: 300px;
      }
  }
  
  
.body_index1 {
    background-color: $secondColor;
    h1 {
        background-color: #8E6C88;
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-size: 35px;
        font-weight: 300px;
      }
      h2 {
        background-color: #8E6C88;
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-size: 35px;
        font-weight: 300px;
      }
  }
  
  
  .body_index2 {
    background-color: $secondColor;
    a {
        text-decoration: none;
        color: black;
        background-color: $firstColor;
      }
      h1 {
        background-color: #8E6C88;
        text-align: center;
        font-family: "DM Serif Display", serif;
        font-size: 35px;
        font-weight: 300px;
      }
  }
  
  .body_index3 {
    background-color: $secondColor;
    h1 {
        background-color: #8E6C88;
        text-decoration: none;
        color: black;
        text-align: center;
      }
  }

  .body_index4 {
    background-color: $secondColor;
    h1 {
        background-color: #8E6C88;
        text-decoration: none;
        color: black;
        text-align: center;
      }
  }